### while 문

In [4]:
num = 0

In [4]:
while num !=4:
    print(num)
    num+=1

0
1
2
3

In [5]:
while num !=4:
    print(num)
    num+=1
    if num ==4:
        break

In [16]:
num = 0
while num !=10:
    print(num)
    num+=1
    if num ==4:
        continue

0
1
2
3
4
5
6
7
8
9

## for 문

In [19]:
for i in [1,2,3,4]:
    print (i)

1
2
3
4

In [27]:
for i, j in [(1,2),(3,4),(5,6)]:
    print(i, j)

1 2
3 4
5 6

## for문 + if문을 통해서 합격 여부를 맞추세요
## [90,25,67,45,80] 라는 학생 5명의 점수를 for 문으로 만들어서 합격 여부 맞추기

In [36]:
x=1
for i,j in [(1,90),(2,25),(3,67),(4,45),(5,80)]: 
    x+=1
    if j >= 60:
        print(x,"번 학생은","합격입니다.")
    else:
        print(x,"번 학생은","불합격입니다")

1 번 학생은 합격입니다.
2 번 학생은 불합격입니다
3 번 학생은 합격입니다.
4 번 학생은 불합격입니다
5 번 학생은 합격입니다.

In [78]:
score = [90,25,67,45,80]
num = 0
for idx, i in enumerate(score):
    if i >= 60:
#         print(str(idx+1)+'번 학생은 합격입니다.')
        print(f'{idx+1}번 학생은 합격입니다.')
    else:
        print(f'{idx+1}번 학생은 불합격입니다.')
#         print(str(idx+1)+'번 학생은 불합격입니다.')

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

# 위의 코드를 함수로 만들기
# 한명의 점수만 넣어서 합격인지
# 불합격인지 return 받기

In [84]:
def test_score(a, b=60):
    if a >= b:
        return '합격입니다'
    else:
        return '불합격입니다'

In [106]:
test_score(54)

'불합격입니다'

In [108]:
def test_score(a, b=60):
    try:
        if a >= b:
            return '합격입니다'
        else:
            return '불합격입니다'
    except:
        return '숫자를 입력해주세요'

In [109]:
test_score('50',60)

'숫자를 입력해주세요'

In [117]:
def main():
    print("안녕하세요")
    try:
        age = int(input("나이를 입력하세요: "))
        print("입력하신 나이는 다음과 같습니다: ", age)
    except ValueError:
        print("입력이 잘못되었습니다.")
        print("만나서 반가웠습니다.")

In [ ]:
main()

# 현재 함수는 잘못입력하면 한방에 끝남
# 사용자가 잘못 입력해도 다시 입력하는
# 메소드 만들기

In [ ]:
def main():
    print("안녕하세요")
    try:
        age = int(input("나이를 입력하세요: "))
        print("입력하신 나이는 다음과 같습니다: ", age)
    except ValueError:
        print("입력이 잘못되었습니다.")
        return main()

In [2]:
def main2():
    print("안녕하세요")
    while True:
        try:
            age = int(input("나이를 입력하세요: "))
            print("입력하신 나이는 다음과 같습니다: ", age)
            break
        except ValueError:
            print("입력이 잘못되었습니다.")

In [3]:
main2()

안녕하세요
나이를 입력하세요: 10
입력하신 나이는 다음과 같습니다:  10

In [41]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [50]:
def test(a,b,c):
    d= a+b+c+5
    return d

In [54]:
test(5,4,3)

17

In [58]:
def test2():
    return 'hi'

In [63]:
test2()

'hi'

In [65]:
def test3():
    print('hi')

In [67]:
test3()

hi

In [1]:
def test4(*args):
    sum_list = []
    print(args) #튜플형태로 넘어감
    for i in args:
        sum_list.append(i+3)
    return sum_list

In [2]:
test4(1,2,3,4)

(1, 2, 3, 4)

[4, 5, 6, 7]

# lambda

In [5]:
def show(s):
    print(s)

In [10]:
show('안녕하세요')

안녕하세요

In [18]:
ans = lambda s: print(s)

In [19]:
ans('안녕하세요')

안녕하세요

In [21]:
lst = ['가렌', '파이크', '트리스타나', '카타리나']

# map
# filter

In [24]:
list(map(lambda x:'챔피언 '+x,lst))

['챔피언 가렌', '챔피언 파이크', '챔피언 트리스타나', '챔피언 카타리나']

In [25]:
list(filter(lambda x: x if len(x)==3 else '', lst))

['파이크']

In [26]:
num_list = [1,2,3,4,5,6,7,8,9,10]

In [27]:
list(map(lambda x: x*2, num_list))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [31]:
list(filter(lambda x:x if x%2 == 0  else '', num_list))

[2, 4, 6, 8, 10]

In [38]:
def sum_num(x):
    b = x * 2
    return b

In [40]:
list(map(lambda x: sum_num(x) ,num_list))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## class

In [51]:
result1 = 0
result2 = 0

In [47]:
def add1(num):
    global result1
    result += num
    return result1

def add2(num):
    global result2
    result += num
    return result2

In [52]:
add(3)

3

In [54]:
add(4)

11

In [87]:
class Calculator:
    def __init__(self, first, second):
        self.result = 0
        self.first = first
        self.second = second
        
    def add(self,num):
        self.result += num
        return self.result
    
    def multi(self):
        mult = self.first * self.second
        return mult

In [89]:
cal1 = Calculator(4,2)

In [90]:
cal1.multi()

8

In [74]:
cal1.add(3)

10

In [69]:
cal1.add(4)

7

In [85]:
class MoreCalculator(Calculator):
    def put(self, num):
        self.result -=num
        return self.result

In [83]:
a = MoreCalculator()

In [84]:
a.put(3)

-3

# 파이썬 내부함수

In [91]:
a='11'
b='12'

In [92]:
id(a)

1656897131120

In [93]:
id(b)

1656966214960

# len-리스트의 길이를 반환하는 함수

In [99]:
num_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]

In [112]:
for i in range(len(num_list)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [103]:
max(num_list)

17

In [106]:
min(num_list)

1

In [109]:
round(4.6)

5

# zip

In [114]:
a = [1,2,3]
b = [4,5,6]

In [116]:
list(zip(a,b))

[(1, 4), (2, 5), (3, 6)]

In [118]:
list(zip('abc','def'))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

# 1부터 100까지의 정수 중 짝수만 저장된 리스트를 생성하라.

In [32]:
x_list = []
for i in range(1,101):
    if int(i)%2 ==  0:
        x_list.append(i)
print(x_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [36]:
a = list(range(2,101,2))
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# 1부터 50까지의 숫자 중 5의 배수를 출력하는 코드를 작성 (for문 활용)

In [124]:
a_list = []
for i in range(1,51):
    if i%5 == 0 :
        a_list.append(i)
print(a_list)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

# 아래와 같이 리스트의 데이터를 출력하는 코드를 작성하시

In [125]:
price_list = [32100, 32150, 32000, 32500]

for idx, i in enumerate(price_list):
    print(idx, i)

0 32100
1 32150
2 32000
3 32500

# 반복문을 사용하여 다음과 같이 2단에서 9단까지 작성 딕셔너리 이용
# key값은 숫자형 type 딕셔너리 value값은 리스트 type

In [163]:
dic = {}
v_list = []
for i in range(2, 10):
    for j in range(1, 10):
        v_list.append(i*j)
    dic[i] = v_list
    v_list=[]
print(dic)

{2: [2, 4, 6, 8, 10, 12, 14, 16, 18], 3: [3, 6, 9, 12, 15, 18, 21, 24, 27], 4: [4, 8, 12, 16, 20, 24, 28, 32, 36], 5: [5, 10, 15, 20, 25, 30, 35, 40, 45], 6: [6, 12, 18, 24, 30, 36, 42, 48, 54], 7: [7, 14, 21, 28, 35, 42, 49, 56, 63], 8: [8, 16, 24, 32, 40, 48, 56, 64, 72], 9: [9, 18, 27, 36, 45, 54, 63, 72, 81]}

# 리스트에 아래의 데이터가 저장되 있다고 가정, 아래와 반복문을 이용하여 아래와 같이 출력

In [167]:
car_num =[[1011,1022],[1201,7202],[2301,1302]]

for i in car_num:
    print("차량번호:",i[0])
    print("차량번호:",i[1])

차량번호: 1011
차량번호: 1022
차량번호: 1201
차량번호: 7202
차량번호: 2301
차량번호: 1302

In [37]:
def n_num():
    num = input("주민등록번호를 입력해주세요(-)포함")
    print(num[7])
    if num[7] == "1":
        print("남자")
    else:
        print("여자")
n_num()

주민등록번호를 입력해주세요(-)포함54

IndexError: string index out of range

In [39]:
def jumin(a):
    b = a.split('-')
    if b[1][0] =='1':
        print("남성")
    else:
        print("여성")
jumin(input("번호입력"))

번호입력980926-1140517
남성

In [40]:
def search():
    phone = {"S5":2014, "S7":2016, "note8":2017, "S9":2018,"S10":2019}
    src = input("입력(문자열)")
    return phone.get(src)
search()

입력(문자열)S5

2014

In [9]:
def re():
    phone_number = input('전화번호를 입력하세요')
    phone_number_len =len(phone_number)
    return phone_number.replace(phone_number[9:],"####")
re()

전화번호를 입력하세요asdads

'####a####s####d####a####d####s####'

In [41]:
def re1():
    phone_number1 = input('전화번호를 입력하세요')
    pnl =len(phone_number1)-4
    print("전화번호는: "+phone_number1[0:pnl]+"####")
re1()

전화번호를 입력하세요asd
전화번호는: as####

전화번호를 입력하세요010-3100-7025

TypeError: replace expected at least 2 arguments, got 1

In [31]:
phone_number1 = input('전화번호를 입력하세요')
print(len(phone_number1),"인풋")

pnl =len(phone_number1)-4
phone_number1[0:pnl]
print(len(phone_number1[0:pnl]),"슬라이스")

전화번호를 입력하세요01031007025
11 인풋
7 슬라이스