In [1]:
import bs4
import pandas as pd
import requests
import cx_Oracle
import pymysql
import my_utils as mu
from tqdm import tqdm
import numpy as np
import time

# riot api master 구간 데이터 가져와서

# 첫번째 df는 match_id, matches, timeline

# matches 컬럼을 이용 새로운 match_df 만들기

# match df - 컬럼

# gameId, gameDuration, gameVersion, summonerName, sommonerLevel, participantId, championName, champExperience, teamPosition, teamId, win, kills, deaths, assists, totalDamageDealtToChampions, totalDamageTaken

# 테이블 이름 - lol_matches

# insert문 작성해서 넣기

In [2]:
riot_api_key = 'RGAPI-25d88498-9e65-44bb-b80b-7738d7795fee'

In [3]:
url = f'https://kr.api.riotgames.com/lol/league/v4/masterleagues/by-queue/RANKED_SOLO_5x5?api_key={riot_api_key}'

In [4]:
res = requests.get(url).json()

In [5]:
res.keys()

dict_keys(['tier', 'leagueId', 'queue', 'name', 'entries'])

In [6]:
name_lst = []
for i in range(len(res['entries'])):
    name_lst.append(res['entries'][i]['summonerName'])
name_lst=name_lst[:100]

In [7]:
name_lst

['민채 젖통 핥짝',
 'EH로EH로',
 '밤에올려다본하늘',
 '라칸불',
 '보보캐',
 '조유리즈영원하자',
 '호카게 지망쉔',
 '32ms from china',
 '려 태',
 '네이스좋아요',
 '간토 공방',
 '슬픈솔랭',
 'Counterblow',
 '삶은계란토마토',
 '이기는법모르는자',
 '무지성 점프',
 'hunnami',
 '서폿쿤 스키다요',
 '그마까지폐관수련',
 'un accord',
 '빠송2',
 'Elderwood Azir',
 '타선장',
 '김범수급 높 설치',
 'Xquare',
 '뉴진스 오마이갓',
 '5목눈이',
 '실력은점수로증명',
 'open ff',
 'Roh Min Kyu',
 '유미원챔공주등장',
 '         지잘알 ',
 '북방의 비둘기  ',
 '유혜리',
 'NoFFNoGG',
 '유지사',
 '우리라인은게복치',
 '냄진우',
 '한 를',
 '올뮤트로 게임',
 '봇 좀 와줘',
 '오레오승즈',
 '거 괴',
 '질 장',
 '팀운상위99퍼계정',
 'Teien',
 'paoqiganqingba',
 '예린은귀엽습니다',
 '온 봄',
 'Haiyesi',
 'QAQQWQOVO',
 '현민짱와쿠와쿠',
 '사쿠라 치요노 오',
 '규 모 띠',
 '하민주',
 '보이지 않는 것들',
 '신이훈',
 '바이올렛',
 '20011010',
 '건전한소환사1999',
 'Snowfly',
 'RiverFlowsInY',
 'Rey is Ricky',
 '헉캬흠',
 '15ggzzzTuT',
 'malzaG',
 'JOHANSON',
 '냥 챠',
 '부족해도잘할게',
 '맵시왕',
 '규스오',
 '오늘도 고생핸',
 '허허맨',
 '노약자석양보안함',
 '침묵과긍정',
 '머라고다시말해바',
 '태성고 태기새',
 '세체뽀아니라고요',
 'T1 ADC Test',
 '1wancibeishang',
 'kakao',
 'MYPRIDE',
 '현자 시간',
 '협곡등반가',
 'TwitchTV Migung',
 '날이 선 킬각',
 'Yshai',
 '착한마음',
 'Ia Siesta',
 '김밥 사랑',
 '0601 aaa',
 '탑알리하고싶다',
 '승마의 신',
 'Green Andora',
 'Parkyusang',
 '섭섭한 틀NI',
 '현서땡구',
 '하이드',
 '슈슈파나',
 '모리테']

In [8]:
mu.get_puuid(name_lst[0])

'QH_dd_7Qq3a0DujOsGZcUaEoSlVdkz0_2B6r7PeclX9k6qqo3xnAxLPjLgnAE-Q2NpAtMhPVZ1nJpQ'

In [10]:
puuid_lst=[]
for i in tqdm(range(len(name_lst))):
    try:
        puuid_lst.append(mu.get_puuid(name_lst[i]))
    except:
        continue

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:27<00:00,  3.65it/s]

In [11]:
puuid_lst

['bJ5PeVBiJlykk45A7zMNastT7BAQRFQ4vvyqC0S_mj0_UiIGVYdAKY6jIb2QAm8djzkOnIC74a1ccw',
 'qxt0LVnVF4PriHPUUf-BFC-BpGIb4wjnhsElv-llqTU1TejS8LS76i9nPtmeFtHq5KvGzBziCQ3TnA',
 '1-1XcXlqTVn-bsL5XrtVWzT35kEPMHsGzG34uUJzqkFbrOsfRJ49DVMBdCp6PNzt-fXQbsoLX-IlQw',
 '1TLlS39-IkH0-Bys78EYqQlR-kRIQaeiS41IBeCmF1uy5DIfEtDFHus-IyPBiaD1U99-LvrhSPdLmg',
 'IcI6rhquNGDc3YVfmppDH7dewsx_pmXOfv1FHfnr38C_XDWHMgzs8jJeiUZDYnHigM2Fn480ULnV1Q',
 '8zVzHN3GYhLBpegaw42jPTr--jAczOBoo-jNsdF0sqzI3DDqqZ62-PQnQ-z8LGhBD54Sbyh6u9j0Lg',
 'LF66Ce6KOfFB7ZC1sUTBN_voNc8Cx00BZo2Nak8lv4wCZ3aP9tqGAT0ZsbzzX5YJPdCP8qfDntPHdg',
 'VUkNi1sH0da0p-O2bMGauIAX5TdaCwUQ4Q3MKNoTzSkVot2j4S9JKvUg6T7Gwza6nhIfk3aEW2s7cA',
 'kGNXUyh0eqPlOMhtaltTDlgf-3cV_ucxCekPIr43-5cPQHyB4j68pZmvPBTpTVR9hLSP6FchreMVMQ',
 'GnNN_KOpRKOrL604Hq5S3aq1QhiuN1EDJgIsdivSBGoadVDdQevRBbiqpTUik_HL7E6_7wJtV16EFA',
 'kJ1k8LpAU72i8mIZ7MSIRFYxnPw925KAt6tyDxDBCN0G20fl18Ks976MZMGCEBtyHU_qqSR4sr9Jmw',
 'hyQ2_CupGV-X6xQUGSSJsYXiQJNnTN8hVptIdtDW8OkYZRm6FBB7cdRtNEC-ImC-Xi9OpVjvWwgeSw',
 'RUc23L9YSLct4m8Rdiv6objUgu3ZNwtezcTB8siEYLeLugPCPCG0lcJRnKkC2MCcFCXqlmXzD8LY2w',
 'b6lY1jF_8xAXDgt7P0xo6P8AO2ao_gvR4YsbIvPL_FlQ2kBNZXUJIM_SLGCMV7B845rPFoNAbEoClg',
 '3IpYz6kECB-Kah-QMsrQtOBGsKKH_7zRFTMH7yC4IeHDH-jA01j2Z_PgmHa1rAvn9wrCXI0p3t0OBA',
 'A21uorExnsoLNdHeY-e_V2twRexkna7F6Ax-GMfuUdOztyJ17KHuzfiPa6NeJ483o5GJZMntyN-Ldg',
 '2D99uBo6RSuxw4qsJDoJ2pBuEXk7IR7RvF-7pGWzUE-hM1G0Un-n1x825Yd8-hbJOE96089ZH7yiLQ',
 'czPiG2tz1tQ3fTElT013oLfJpl4Pyc8RTuwl3NU-ca1kZlE5_eGRHWvSkt-pLfAtOIPswRRyZezmNg',
 'dNs6Q0lkTFc11lv3tFs9OOlPt-3voR3sPvq9dofKtg4Jmy9B42nD9tyTU00W4KmlEUpv1eLxOW3uEQ',
 'xuIXHs95nhlcnXLq4wjMgltbTKCn83vgRlPoANB1kHe9uGnef_oqFZXEKpgwfFh5MHd-wo3TTyOEZg',
 'VeU4AhqzNTmLAzN6P08yklTkjzkqyB1LzZzpoPo52l0Fuc4tQF5H_gc6zcVNKwEgxbT7BQAExSV8Jg',
 'kNwbr4IT-d6vFhcav8hrzUvyp2i-soSCudOnb9MD7f3-EH6zHRaqpReJOYQA1hk-x1KsyU-0LNZZrQ',
 'CCpFB3Gz3bOf0INsA5oPnoBkHDmcg_3o1kXiHInviRkra23N-qkAMx_JMWfOE-lGWGf0069_1Wm8mw',
 '1Or18utsxZ5lgvvACmVNUMxQFJjeC9G-aCi9uBqRmP0WLM6R_t3FCX7VY8wvwaBS5C8nwSndSkaKdw',
 'p83orMens2iZopdlMwKzr_Y5bIjCDr63pr4deJoShZbNxfFCGD78vcg_kcYSzqcT7lYzAu51HSqpMA',
 '_9h6Bqstj3Kml-dTSFBquYDcAkUSE3wstn4zGq7IBDVK1uH-8TM5msd42-5Dqwn-XY2Or2oICn9Aiw',
 '6VNi1HQKDom22gArAb0S8CrHmq1jPLeUvuyNJZFc-LMubHQMfFqVpD_p2Cy9zM_M4O1lF5GsDx-zPA',
 'FbE4Tf1Qt5yBT_RaigW_X09463GdYBOLraV03PTTFiM-NZ9tRCD8QT4kPdU7eVciHUffUZZ5wq2GPg',
 'rq0uuMG525qehA3WNfvVJb0EFhlMTs9Kzs1uTz-bQYeJd6UgBeAKc2L1wtfTXx0cAKTQNxOjaenKlw',
 'F2BozLD2otG0ab-zG4q6DQtHFOEGOglX9_8mBtxnhDtJGtQIq2B7yrbksFy4FFMKp5fUzxomXKPAVQ',
 '11GYTTEPKLKi62iJp94pm_YQ3Sk3dXnI4Nm_lVjHwRK8Q6XtJ6zHksmYm7SnKWQQvx46-M6KIYR3dA',
 'XgQJW1a73tfqD1ruGp0jJjuT86ltXIUcluD5B-TkFU73ybRhBjIlS2wVW3ZJm77KEa1guCyrYd2d7Q',
 'MfG74Mtz1G-VsTQ04I4q8-Iwsb2IxX2Si7PwP7IAHtl__9sxsN2lutvC-w0ZlDipsurcKEEJuTtysQ',
 'cByldmmIJbqzMZSDjnc4zXfp-CHdBshsGxog41t2fthle4HfDAwJZqUp7bUKJt28qP_FIeaWUVvyPg',
 'V5oLPFxUumQgZOHxsyxZoVUqVkfqMH6CHW8cpGyGiHbK6S7YK66K559DnZbtszt51sDI_QhyMSq8Pg',
 'vqRLOq8OkYJIjbpYjzh3_EVw0Nf_yl6LhkT8X92ZgRBTfbK6q-izvm8W4dL33yhOUjqCh--a8aPa5w',
 '8-Iv70A7DzUko7KrLuu263umV0WSHDJmScBUzrC_FQJpRh4GOKrCDYK6CvEkYGpQbYTDKkXNmTFCSA',
 'KsBIt0HM5dhfsj_q1w9ZHbpzrJYGOFbEP133zL7r_tdRVU5Qst9XdoPHXv9Vwm4DWoOn8UEoXzS26Q',
 'z4BwxPBGHqE0zSB_42-NVZcRSR4Rk0TNOo-uKByQ01vW3TtQToXpgiHL7R4Xp9l56Ao8TwlPkK6SrA',
 'C_k4Ml3G9d2pur86HL1Gk2Fwwp2FjMROYWfEx9824V4ZWNhh3S2TBpD1k4IFrugAJB6WMr3DR5c53w',
 'TutC0ehmVQvbSPzebHDirHn5NJf7EAA6kLFmjZdgEFSMEEhMazIU323GBkUwg4hZLmmYpvadA5z9dw',
 'ZbnfMMjfEbKLWfXWGBZvXsMNKmi-7NEIyL_VJhOmqV-yw4sxjyQeiElZVK8h1usFK8K1C-LtOyyw4Q',
 'cwrd9fyjJwrf7SiXeSSzbnBpypWz8jXxMn8BMKR-rUSQwiXMvYzRFCNOFaJ_6tGaYfDl5-EDphxJAQ',
 'rkrExdq1b_nVT8UkNOxIrJIVP0yVIAXMO2viOii2cckVD9gaf9MO7ymg-VgXPby0njWPNl8NpzAotw',
 'FAtO7sRJbHB5IOQAcuZ14phT9IsyFViig-SfJQuwYr2pOvQoXj9DarsdUrNFI4xxImtP1xmTQSxvrw',
 'epSr4TTCWEazyl7kfnAexpE8ef2CdalQ8bUBvAGnyv_48MgxhVwy0kwysIFvFg9kVjRwX_vho0JdcQ',
 'dnAFojLPu_59gqs8HWVC87Tti9J2axw1XylY7NtNmEtjacfxZ0ogPH0xUYOpNUcTrzzCtNKWAfE_Zg',
 'TDLmSikJ84IiUixwmc6BOcMcSkHA3B01nXvwNIJSJM4KEWCtrPbcPcVZWn9OdgD_f9AvZZceK6-qbQ',
 'zV0rNadZ3ecyorMT-4vXdKIj9cYkzdiWDzmP4roUnxdadltrqtdHtIahcEMqLoVegqnVlAAapanLww',
 'V3Tm944pl8GN16dgU2uJU4wRbUHTZRJ_QOTus_awpitswDAcHPFkI4qZKYWbBQgxWm6_5ie3hHDM6w',
 '4pktYw9brD7zRieAtIU4NTVo-h5Svjri1VCxsTdkgNRaw68CMkHlhR8vsmsSdOp5_UCiE51Zfxsjsw',
 'cT2YYFenSpq19Cn9d27mSZktca197djHj7r-ZuAm1jfc8VGNN5EU_s1lprRjyVFJglwTSrm41Cct7A',
 'YhEuQauTI81cBC3eEXFoGYNkUzRjxh8drugYIP-j4Fp78jqXFs5yJgkESZ3UloG7m9AFDZt-3lIo1g',
 'sI4Nlc75NycF2JEE51oVlR85eKQWudTPEjh4KYTktRvNiZdrZAX9a2Csj1nggssSgdfwT1i2E-d5-g',
 'KenDBIvK85ZNEVFlCU6kcJPSbYDlt2NbMpAIMTV9EUXxrt1Er9OMhY4kY46v6rJZ7yQSIgpvk21WrQ',
 '3a5407w-it--0QPWGfz4e4FmNSjhLj2lwafWyw8BkG8Q8r3TYtH4jAFf_JNw0Pxnv8TUcJ2yC_smSA',
 'lGc7pANYW7waYkYq4og06gwufBzY0TZDig4PgF_mvEwUnsvNzUvQFUUe6u6bMFvMeOPcZvGkE45BfQ',
 '9xXgtNrv3aCAfd6ytc3E9lrSVt2f6lrLRmwEwl88mxLCqT04hWv2B6aU5voWUtOR4pSYw2P2RpTxdg',
 '4T1vuPCT2hFp5XBbjKIL1neyZAEO6h-TxW1v9ciwKAm4C0bnKl7dXusXcuJr3RZl-IJtKPq7O4hR4w',
 'XvuunIYK5wSAWShM24XY3W8uTjKLEMwYADaxaENnMhlk1EfoebYcjoP_xy81gCb6gXS5LOktNwgdZg',
 'CSqCL3A-3AnyCMN3fNQtdkd_Rlp-FA4wnl4cGnlrheZjNIy_6kANPdnSM1Eh6s74EskY5fhiAZ53zg',
 'cb5NFMibw9rgzt2O6wfjL0xbdhYYmgtE2jDMVotQyuxWtUS0OuWythTjDGnt4OcWj0Nyxcj5mSTTJA',
 '70Tz3blz0Xzy0cpBybd5G7pwvYEIy9byz79jQ5635Ljz76nOcpLk6k51yZQ6vhBX9EWhqE51_8guNA',
 'a_oWLKVoNpokA8-JKIdgTI_3l56sjizrxYeR9u_uurluGGBPYgJBOEbn1KjZOUKMxZOG0lRnfY1NtA',
 'Kg4Yp8hiU-hN_yq3Lr5vwdY3QXnHHy1wLvZ_STNRY-FQeaLV_cOsNTBgDKfHciPX0CyNW9TnSwu8WA',
 'lChJK2H0eiGv3NUekzWaPAznNAcp6eyDOgxJEsITitORcyr-uG3a2psc5qXpXu1sGTY0KAvz8l9GUA',
 'IgSqx1rJx0RyLc6BkdmwMvoOvDFpICZxrJ3grO1YkRKlyE0DQ_yHicrBOBlo595HFbjtS-KlUBgyRA',
 'mmYHknJtzR4D7D2MIIyhKMjrn99wzYNcbWu9VamgVHcWJ3h1EjX2z-313wS0Xda_YGLXq23vK2Iszw',
 'Ag90ZaAKXSkl05jP1MbAP2y2WT3ZLj6Pds12jUGHpxCLfThH01qKe9RFxKu9ufHGnD32Rs1tocXVWQ',
 'xeHCqz_hJyxJgHib7mw-Bh16z5RxrtRl40kCTqYifEO-ZTkOv0UVFWeX9g_czFsQy1_dSg0g8lmBew',
 'pNk8NHpaSUFF6BzheJKa3YgnnjW3JFZkTsDJ_6zc-5QhsFHnO-hznFDTo4IUacidEU6gRC1E-WCrzQ',
 'Cyfm_ZU8V-XbwvpPXmoF4z7AosTAbJoOB7GKNxrAk_dM6JPgRg3lebXnjLQWZctgtdprhkb0crOsFQ',
 'JNEcV28GyVXcT4LEe7NhGGz1UZc665PehPT7DcaaV1hN2DZbeSVF3nggbtxEFxDDzIKfIfbsIkEPeQ',
 'eEBTbH4bR9EEvayCT77oSuRcuXuGmC5r-54KyUsE-0jq46RRG74XkxQmUs92msscrM_OqGGAL_QHrA',
 'yjkwzsNHO03tJZTj2VVd_nbAWZNcpnkYb8RTC_cbNImRSV4kfdupBEDwY6tjgwkTnUYR_QQBw_-DoA',
 'cQHBSLXpVL1_8c0g2VAvdZaiow7qmgWSHIFVXbDCR5-UIGOR8MbMG43JU-99sEKCqpFhm6lU33YfmQ',
 'y1Jl1H_cz8cIF_7NqcCYxq-qt1J8P482BtJcsRMCbNXCH1q-hkXUFX03WtbcPFfs5PdSTURevn3KnQ',
 'mzdgFY-kGDNdALzB_t08npwEf2e1xo9P9PkLX5J2QaP6PVfvBW7vUHvu2efsNqgHFR-mIsjWEDYLdQ',
 'a9P49u3F3xY7wuvCjEtbMv9Fmy0iYRwgtDf-EZUCtKa-NLDaALH8DJXMq9w9RhrYW73aklSjOI-9yw',
 'zoJp771kKhEw7JHxUINIz5KFXj9HITgWdYMWBJrGAU9xsbLabtgk9JYu9ZmOeIQ00Jc0-mv7HmBQgA',
 'fr2hFEnRZfGgb0dYCUZwN57CycAsByu9mXGYgReM2SQxN0v9CLpZIyTwPO_tpsr5HXnX7WA_0hD2Pg',
 'iObEKOq962pegeHC4se6RvbNyNuIaVKAR22xqa9ef6yp7V-yo12a81oNpWA9Ob9RYNssQyBql_Vj6w',
 'iAEonxVj-PW1csI9_p0S6kxNleBRK-vGR_dvyHBXsGKapYqPogF6sHtYPz_7N4h0lYs9SHiChwyfug',
 '_RK_btaE1NVQQpnLVhDQxsZ9b5WjpfyY8D82DEY_A9sNCRtUkhzUL_jYgpJs_nn0hoas1mivlituxA',
 'DWx-2QKGr0CtWTRjPFnPFPnFSjwHbWoQhMYH5BCbxlXN_lBwLMK9TK_6-QZsx_SUgNTBVl4PqBygPg',
 '5dxYhyGZpJ5xPFoSqKjBuRi4__WzYx6OIz16CAF9pCde1ZLpqP_2yd4rda51caZPqspJu-ZTjLcrJA',
 'sMFmnmZp8rRR2w6OXJExhm1XH5sMlVI9rhkMfNQWSfUkNKsqsTrV_20-KAnWvLYw_WzHJpfXwN8ZXg',
 'AzUj_OV-rQFwB0G2kL-Acs-AtvlHqQxgHjcV-xVlh6VXp4mUPOgCRTGYdVGD9dDHB7O1a-Ol7lFZFg',
 'm0TGj4a-sfsaH82fZJ_NNHVOV0AZjsnUaaYpECWKCEyTRcrH7dioBI__Bqu4Fuk5nBfQ00Kd7J5vag',
 '9VTy3UeNGmhY6nmwA3vYrzUJLwzMtrg8q9ufh4oehkrSUmTJ6hakB1bgalSwwMVWXly7yY4rKoIZVw',
 'p7JsW0doRgyIZuVkBz6op8OxXAj5599p5_Ks40FRy_F-ebdg4t8R9WOQAuIknWiRmlj4G2ERN4WjDw',
 'Vy4vVRJY3f0Rd00uwSZieAFulyGYGobNWJbgxd9zItbO9t06nGKXGUWzcvTvDPsOx9xRCx84EtcV5w',
 'ronYmjOipyUvuh1K6Haop2fBGuvZRz4FnnS34rwS127-2JFc2FHyAXZEhgady2HMUFySMyUWaP3TxA',
 'RWFMzrcWuoSxZ39e5SXFuMVjh3hMxqpHpQy8laC4ic-L6CVFSuha4UGxiK9ApF0MM2sUt-0J3FNkAA',
 'pxFehiQDbB8sV7BdzJCtr17fzPptfOB8PTWbBM6-zCNRJFlsHoteSN1Z6P-fzaMGEZ0ldDrNo6LCdw',
 'EnN7UoUvLZiidjg6uKLCMlNo1kzYn_yRQqHlfoFCtFOeS4yx9pWuYDcZ_RagTko4eVJd1REQhEyCNQ',
 'zSweqM3WIkcEOQmAJpJw1ZIWrsY0ZBIaE1TSB2yTv2a9OVEBR0oN5q3Efdo6I5fIDfdcwvMz21vNyg',
 'xPz5pnDhFaWQMmkVcXJJICXLNP3ao9OZZGilCfqzrU6Y4j3FSfSC74V6SUzMZLo80B9GWJs4kP6uoA',
 'gJafr0-pEndlpy5mmCYRC1DR6cXlQuW8PJdDEgrMnWcwqPk0rTEZChacDf41ImEY7xJ8zWBMuvE2kg']

In [74]:
match_ids= []
for i in tqdm(range(len(puuid_lst))):
    try:
        match_ids.append(mu.get_match_id(puuid_lst[i],2))
    except:
        continue

100%|██████████████████████████████████████████████████████████████████████████████████| 97/97 [00:29<00:00,  3.34it/s]

In [97]:
matches = []
timeline = []
for i in tqdm(range(len(match_ids))):
    try:
        matches.append(mu.get_matches_timelines(match_ids[i][0]))
        timeline.append(mu.get_matches_timelines(match_ids[i][1]))
#         matches.append(match_ids[i][0])
#         timeline.append(match_ids[i][1])
    except:
        continue

100%|██████████████████████████████████████████████████████████████████████████████████████████| 97/97 [00:00<?, ?it/s]

In [100]:
matchs

['KR_6398285495',
 'KR_6404756611',
 'KR_6404247693',
 'KR_6404372851',
 'KR_6404469676',
 'KR_6397412549',
 'KR_6404537011',
 'KR_6404636990',
 'KR_6401643032',
 'KR_6392992699',
 'KR_6404622013',
 'KR_6404152515',
 'KR_6404685902',
 'KR_6403864051',
 'KR_6402716302',
 'KR_6402730786',
 'KR_6403204328',
 'KR_6404771063',
 'KR_6400622622',
 'KR_6404069891',
 'KR_6402373846',
 'KR_6403013657',
 'KR_6398585868',
 'KR_6404627363',
 'KR_6404282877',
 'KR_6404473179',
 'KR_6404348755',
 'KR_6404647189',
 'KR_6404756920',
 'KR_6401952254',
 'KR_6404334381',
 'KR_6401936621',
 'KR_6404708495',
 'KR_6384006005',
 'KR_6403019295',
 'KR_6403614071',
 'KR_6404633537',
 'KR_6402703085',
 'KR_6403923101',
 'KR_6404553323',
 'KR_6399912791',
 'KR_6402711052',
 'KR_6400981175',
 'KR_6403541466',
 'KR_6404221253',
 'KR_6404092655',
 'KR_6401583687',
 'KR_6404764501',
 'KR_6404706772',
 'KR_6402991102',
 'KR_6404287413',
 'KR_6404666181',
 'KR_6403859864',
 'KR_6404067032',
 'KR_6392161815',
 'KR_6404666584',
 'KR_6404286588',
 'KR_6404758712',
 'KR_6404702161',
 'KR_6404599440',
 'KR_6404097082',
 'KR_6404568231',
 'KR_6404335142',
 'KR_6403780084',
 'KR_6402279805',
 'KR_6402369500',
 'KR_6404001798',
 'KR_6404758384',
 'KR_6402352388',
 'KR_6404286997',
 'KR_6388891235',
 'KR_6404069453',
 'KR_6401829657',
 'KR_6404377790',
 'KR_6402120415',
 'KR_6404624595',
 'KR_6403280460',
 'KR_6399214097',
 'KR_6404426464',
 'KR_6404228883',
 'KR_6399671447',
 'KR_6395027570',
 'KR_6403567435',
 'KR_6401211300',
 'KR_6404769069',
 'KR_6404040155',
 'KR_6404738685',
 'KR_6402476606',
 'KR_6403501306',
 'KR_6392343164',
 'KR_6403732842',
 'KR_6404157468',
 'KR_6404291567',
 'KR_6404397591',
 'KR_6402434694',
 'KR_6403711332',
 'KR_6403110406']

In [ ]:
get_matches_timelines()

In [9]:
import time

In [10]:
lst = []
for i in tqdm(name_lst[:100]):
    try:
        puuid = mu.get_puuid(i)
        match_ids = mu.get_match_id(puuid,2)
        for match_id in match_ids:
            matches, timeline = mu.get_matches_timelines(match_id)
            lst.append([match_id,matches,timeline])
    except:
        continue
    time.sleep(1)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [04:16<00:00,  2.56s/it]

In [101]:
df = pd.DataFrame(lst,columns=['match_id','matches','timeline'])

In [103]:
df

,match_id,matches,timeline
0,KR_6403658447,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
1,KR_6403651047,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
2,KR_6403306607,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
3,KR_6403244765,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
4,KR_6403851667,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
...,...,...,...
140,status,"{'status': {'message': 'Rate limit exceeded', ...","{'status': {'message': 'Rate limit exceeded', ..."
141,status,"{'status': {'message': 'Rate limit exceeded', ...","{'status': {'message': 'Rate limit exceeded', ..."
142,status,"{'status': {'message': 'Rate limit exceeded', ...","{'status': {'message': 'Rate limit exceeded', ..."
143,status,"{'status': {'message': 'Rate limit exceeded', ...","{'status': {'message': 'Rate limit exceeded', ..."
144,status,"{'status': {'message': 'Rate limit exceeded', ...","{'status': {'message': 'Rate limit exceeded', ..."

In [104]:
df_create2 = []

info = df.iloc[0].matches['info']
for i in tqdm(range(len(df))):
    for j in(range(len(info))):
        try:
            df_create1=[]
            df_create1.append(df.iloc[i].matches['info']['gameId'])
            df_create1.append(df.iloc[i].matches['info']['gameDuration'])
            df_create1.append(df.iloc[i].matches['info']['gameVersion'])
            df_create1.append(df.iloc[i].matches['info']['participants'][j]['summonerName'])
            df_create1.append(df.iloc[i].matches['info']['participants'][j]['summonerLevel'])
            df_create1.append(df.iloc[i].matches['info']['participants'][j]['participantId'])
            df_create1.append(df.iloc[i].matches['info']['participants'][j]['championName'])
            df_create1.append(df.iloc[i].matches['info']['participants'][j]['champExperience'])
            df_create1.append(df.iloc[i].matches['info']['participants'][j]['teamPosition'])
            df_create1.append(df.iloc[i].matches['info']['participants'][j]['teamId'])
            df_create1.append(df.iloc[i].matches['info']['participants'][j]['win'])
            df_create1.append(df.iloc[i].matches['info']['participants'][j]['kills'])
            df_create1.append(df.iloc[i].matches['info']['participants'][j]['deaths'])
            df_create1.append(df.iloc[i].matches['info']['participants'][j]['assists'])
            df_create1.append(df.iloc[i].matches['info']['participants'][j]['totalDamageDealtToChampions'])
            df_create1.append(df.iloc[i].matches['info']['participants'][j]['totalDamageTaken'])
            df_create2.append(df_create1)
        except:
            continue

100%|███████████████████████████████████████████████████████████████████████████████| 145/145 [00:01<00:00, 102.14it/s]

In [105]:
match_df = pd.DataFrame(df_create2, columns=['gameId','gameDuration','gameVersion','summonerName','summonerLevel'
                                             ,'participantId','championName','champExperience','teamPosition'
                                             ,'teamId','win','kills','deaths','assists','totalDamageDealtToChampions','totalDamageTaken'])

In [106]:
match_df

,gameId,gameDuration,gameVersion,summonerName,summonerLevel,participantId,championName,champExperience,teamPosition,teamId,win,kills,deaths,assists,totalDamageDealtToChampions,totalDamageTaken
0,6403658447,1503,13.5.495.8836,노블레스혐오자,97,1,Malphite,11633,TOP,100,False,2,9,12,16461,24010
1,6403658447,1503,13.5.495.8836,민채 젖통 핥짝,303,2,Sylas,10122,JUNGLE,100,False,7,10,12,17936,33189
2,6403658447,1503,13.5.495.8836,위대장,584,3,Yasuo,9957,MIDDLE,100,False,4,8,5,8364,18361
3,6403658447,1503,13.5.495.8836,세 가족 행복하게,245,4,Varus,9265,BOTTOM,100,False,9,9,9,22064,19659
4,6403658447,1503,13.5.495.8836,Aoxt,224,5,Senna,9484,UTILITY,100,False,6,8,17,21742,18290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,6403957082,1153,13.5.495.8836,성충이 해적단,667,6,Xayah,6116,BOTTOM,200,False,5,4,1,9456,8797
926,6403957082,1153,13.5.495.8836,밍징몽,489,7,Diana,6567,JUNGLE,200,False,1,7,2,10391,18509
927,6403957082,1153,13.5.495.8836,낭인의 검,542,8,Yasuo,8142,MIDDLE,200,False,2,6,1,5631,12879
928,6403957082,1153,13.5.495.8836,고땡9,383,9,Jayce,7819,TOP,200,False,2,7,0,10694,13390
929,6403957082,1153,13.5.495.8836,꿍 꿔,411,10,Nautilus,5466,UTILITY,200,False,0,7,6,5605,13730

In [38]:
df.iloc[0].matches['info']['participants'][0]['summonerName']

'노블레스혐오자'

In [107]:
m_query = """
CREATE TABLE LOL_MATCHES (gameId bigint(20), gameDuration int(10), gameVersion varchar(20), summonerName varchar(30), 
summonerLevel int(10), participantId int(3), championName varchar(20), champExperience int(10), teamPosition varchar(20),
teamId int(10), win varchar(10), kills int(5), deaths int(5), assists int(5), totalDamageDealtToChampions int(10),
totalDamageTaken int(10))
"""

# my_sql

In [108]:
conn = mu.connect_mysql('icia')
mu.mysql_execute(m_query,conn)
conn.close()

In [109]:
tqdm.pandas()

In [110]:
def insert(x):
    m_query1 =( 
    f'insert into LOL_MATCHES(gameId,gameDuration,gameVersion,summonerName,'
    f'summonerLevel,participantId,championName,champExperience,teamPosition,'
    f'teamId, win, kills, deaths, assists, totalDamageDealtToChampions, totalDamageTaken)'
    f'values({x.gameId},{x.gameDuration},{repr(x.gameVersion)},{repr(x.summonerName)},'
    f'{x.summonerLevel},{x.participantId},{repr(x.championName)},{x.champExperience},{repr(x.teamPosition)},'
    f'{x.teamId},{repr(str(x.win))},{x.kills},{x.deaths},{x.assists},{x.totalDamageDealtToChampions},{x.totalDamageTaken})'
    )
    mu.mysql_execute(m_query1,conn)
    return

In [111]:
mu.db_open()
conn = mu.connect_mysql('icia')
match_df.progress_apply(lambda x: insert(x), axis=1)

oracle open!

100%|██████████████████████████████████████████████████████████████████████████████| 930/930 [00:00<00:00, 2371.65it/s]

0      None
1      None
2      None
3      None
4      None
       ...
925    None
926    None
927    None
928    None
929    None
Length: 930, dtype: object

In [112]:
query3 = 'select * from lol_matches'

In [113]:
set = pd.DataFrame(mu.mysql_execute_dict(query3,conn))

In [114]:
set

,gameId,gameDuration,gameVersion,summonerName,summonerLevel,participantId,championName,champExperience,teamPosition,teamId,win,kills,deaths,assists,totalDamageDealtToChampions,totalDamageTaken
0,6403658447,1503,13.5.495.8836,노블레스혐오자,97,1,Malphite,11633,TOP,100,False,2,9,12,16461,24010
1,6403658447,1503,13.5.495.8836,민채 젖통 핥짝,303,2,Sylas,10122,JUNGLE,100,False,7,10,12,17936,33189
2,6403658447,1503,13.5.495.8836,위대장,584,3,Yasuo,9957,MIDDLE,100,False,4,8,5,8364,18361
3,6403658447,1503,13.5.495.8836,세 가족 행복하게,245,4,Varus,9265,BOTTOM,100,False,9,9,9,22064,19659
4,6403658447,1503,13.5.495.8836,Aoxt,224,5,Senna,9484,UTILITY,100,False,6,8,17,21742,18290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,6403957082,1153,13.5.495.8836,성충이 해적단,667,6,Xayah,6116,BOTTOM,200,False,5,4,1,9456,8797
926,6403957082,1153,13.5.495.8836,밍징몽,489,7,Diana,6567,JUNGLE,200,False,1,7,2,10391,18509
927,6403957082,1153,13.5.495.8836,낭인의 검,542,8,Yasuo,8142,MIDDLE,200,False,2,6,1,5631,12879
928,6403957082,1153,13.5.495.8836,고땡9,383,9,Jayce,7819,TOP,200,False,2,7,0,10694,13390
929,6403957082,1153,13.5.495.8836,꿍 꿔,411,10,Nautilus,5466,UTILITY,200,False,0,7,6,5605,13730

In [115]:
conn.commit()

In [118]:
df

,match_id,matches,timeline
0,KR_6403658447,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
1,KR_6403651047,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
2,KR_6403306607,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
3,KR_6403244765,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
4,KR_6403851667,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
...,...,...,...
140,status,"{'status': {'message': 'Rate limit exceeded', ...","{'status': {'message': 'Rate limit exceeded', ..."
141,status,"{'status': {'message': 'Rate limit exceeded', ...","{'status': {'message': 'Rate limit exceeded', ..."
142,status,"{'status': {'message': 'Rate limit exceeded', ...","{'status': {'message': 'Rate limit exceeded', ..."
143,status,"{'status': {'message': 'Rate limit exceeded', ...","{'status': {'message': 'Rate limit exceeded', ..."
144,status,"{'status': {'message': 'Rate limit exceeded', ...","{'status': {'message': 'Rate limit exceeded', ..."

In [119]:
df.iloc[0].timeline['info'].keys()

dict_keys(['frameInterval', 'frames', 'gameId', 'participants'])

In [121]:
len(df.iloc[0].timeline['info']['frames'])
#27분까지 겜 함

27

In [131]:
df.iloc[0].timeline['info']['frames'][11]['participantFrames']['1']['totalGold']
#1번째 사람 골드
#11분대 스테이터스

3143

In [144]:
df.iloc[0].timeline['info']['frames'][10]['events']
#10~11분 까지

[{'itemId': 1028,
  'participantId': 1,
  'timestamp': 542272,
  'type': 'ITEM_PURCHASED'},
 {'level': 8, 'participantId': 8, 'timestamp': 544604, 'type': 'LEVEL_UP'},
 {'levelUpType': 'NORMAL',
  'participantId': 8,
  'skillSlot': 3,
  'timestamp': 545868,
  'type': 'SKILL_LEVEL_UP'},
 {'level': 6, 'participantId': 4, 'timestamp': 547602, 'type': 'LEVEL_UP'},
 {'levelUpType': 'NORMAL',
  'participantId': 4,
  'skillSlot': 4,
  'timestamp': 548569,
  'type': 'SKILL_LEVEL_UP'},
 {'level': 6, 'participantId': 2, 'timestamp': 551404, 'type': 'LEVEL_UP'},
 {'creatorId': 5,
  'timestamp': 552137,
  'type': 'WARD_PLACED',
  'wardType': 'SIGHT_WARD'},
 {'levelUpType': 'NORMAL',
  'participantId': 2,
  'skillSlot': 4,
  'timestamp': 552569,
  'type': 'SKILL_LEVEL_UP'},
 {'killerId': 4,
  'laneType': 'BOT_LANE',
  'position': {'x': 13866, 'y': 4505},
  'teamId': 200,
  'timestamp': 557265,
  'type': 'TURRET_PLATE_DESTROYED'},
 {'itemId': 2055,
  'participantId': 10,
  'timestamp': 557864,
  'type': 'ITEM_DESTROYED'},
 {'creatorId': 10,
  'timestamp': 557864,
  'type': 'WARD_PLACED',
  'wardType': 'CONTROL_WARD'},
 {'itemId': 3858,
  'participantId': 10,
  'timestamp': 559128,
  'type': 'ITEM_DESTROYED'},
 {'itemId': 1001,
  'participantId': 6,
  'timestamp': 564488,
  'type': 'ITEM_DESTROYED'},
 {'itemId': 3111,
  'participantId': 6,
  'timestamp': 564488,
  'type': 'ITEM_PURCHASED'},
 {'itemId': 1028,
  'participantId': 6,
  'timestamp': 565188,
  'type': 'ITEM_DESTROYED'},
 {'itemId': 3067,
  'participantId': 6,
  'timestamp': 565188,
  'type': 'ITEM_PURCHASED'},
 {'itemId': 2055,
  'participantId': 2,
  'timestamp': 565889,
  'type': 'ITEM_DESTROYED'},
 {'creatorId': 2,
  'timestamp': 565889,
  'type': 'WARD_PLACED',
  'wardType': 'CONTROL_WARD'},
 {'creatorId': 2,
  'timestamp': 568652,
  'type': 'WARD_PLACED',
  'wardType': 'YELLOW_TRINKET'},
 {'creatorId': 10,
  'timestamp': 569018,
  'type': 'WARD_PLACED',
  'wardType': 'SIGHT_WARD'},
 {'assistingParticipantIds': [8, 10],
  'bounty': 0,
  'killerId': 7,
  'killerTeamId': 200,
  'monsterType': 'RIFTHERALD',
  'position': {'x': 4605, 'y': 10016},
  'timestamp': 570183,
  'type': 'ELITE_MONSTER_KILL'},
 {'itemId': 3364,
  'participantId': 7,
  'timestamp': 571913,
  'type': 'ITEM_DESTROYED'},
 {'creatorId': 4,
  'timestamp': 586244,
  'type': 'WARD_PLACED',
  'wardType': 'YELLOW_TRINKET'},
 {'killerId': 1,
  'timestamp': 586511,
  'type': 'WARD_KILL',
  'wardType': 'CONTROL_WARD'},
 {'assistingParticipantIds': [8],
  'bounty': 300,
  'killStreakLength': 0,
  'killerId': 9,
  'position': {'x': 11471, 'y': 6290},
  'shutdownBounty': 0,
  'timestamp': 588443,
  'type': 'CHAMPION_KILL',
  'victimDamageDealt': [{'basic': False,
    'magicDamage': 0,
    'name': 'Yasuo',
    'participantId': 8,
    'physicalDamage': 116,
    'spellName': 'yasuoq3wrapper',
    'spellSlot': 0,
    'trueDamage': 0,
    'type': 'OTHER'}],
  'victimDamageReceived': [{'basic': False,
    'magicDamage': 312,
    'name': 'Rumble',
    'participantId': 8,
    'physicalDamage': 0,
    'spellName': 'rumbleflamethrower',
    'spellSlot': 0,
    'trueDamage': 0,
    'type': 'OTHER'},
   {'basic': False,
    'magicDamage': 347,
    'name': 'Rumble',
    'participantId': 8,
    'physicalDamage': 0,
    'spellName': 'rumblecarpetbomb',
    'spellSlot': 3,
    'trueDamage': 0,
    'type': 'OTHER'},
   {'basic': False,
    'magicDamage': 84,
    'name': 'Rumble',
    'participantId': 8,
    'physicalDamage': 0,
    'spellName': '',
    'spellSlot': -1,
    'trueDamage': 0,
    'type': 'OTHER'},
   {'basic': False,
    'magicDamage': 306,
    'name': 'Rumble',
    'participantId': 8,
    'physicalDamage': 0,
    'spellName': 'rumblegrenade',
    'spellSlot': 2,
    'trueDamage': 0,
    'type': 'OTHER'},
   {'basic': True,
    'magicDamage': 0,
    'name': 'SRU_Blue',
    'participantId': 0,
    'physicalDamage': 65,
    'spellName': 'yasuoe',
    'spellSlot': 2,
    'trueDamage': 0,
    'type': 'MONSTER'},
   {'basic': False,
    'magicDamage': 0,
    'name': 'Draven',
    'participantId': 9,
    'physicalDamage': 184,
    'spellName': 'dravenspinning',
    'spellSlot': 0,
    'trueDamage': 0,
    'type': 'OTHER'}],
  'victimId': 3},
 {'level': 7, 'participantId': 9, 'timestamp': 588443, 'type': 'LEVEL_UP'},
 {'level': 6, 'participantId': 10, 'timestamp': 588443, 'type': 'LEVEL_UP'},
 {'level': 7, 'participantId': 7, 'timestamp': 589043, 'type': 'LEVEL_UP'},
 {'levelUpType': 'NORMAL',
  'participantId': 10,
  'skillSlot': 4,
  'timestamp': 589408,
  'type': 'SKILL_LEVEL_UP'},
 {'levelUpType': 'NORMAL',
  'participantId': 9,
  'skillSlot': 1,
  'timestamp': 590672,
  'type': 'SKILL_LEVEL_UP'},
 {'levelUpType': 'NORMAL',
  'participantId': 7,
  'skillSlot': 1,
  'timestamp': 591407,
  'type': 'SKILL_LEVEL_UP'},
 {'killerId': 0,
  'laneType': 'BOT_LANE',
  'position': {'x': 13866, 'y': 4505},
  'teamId': 200,
  'timestamp': 593572,
  'type': 'TURRET_PLATE_DESTROYED'},
 {'killerId': 5,
  'timestamp': 596767,
  'type': 'WARD_KILL',
  'wardType': 'YELLOW_TRINKET'},
 {'itemId': 2003,
  'participantId': 8,
  'timestamp': 599669,
  'type': 'ITEM_DESTROYED'}]

In [192]:
df.iloc[0].timeline['info']['participants'][0]['participantId']

1

In [194]:
lst = []
for i in range(10):
    tmp = []
    tmp.append(df.iloc[0].match_id)
    tmp.append(df.iloc[0].timeline['info']['participants'][i]['participantId'])
    for k in range(5,16):
        tmp.append(df.iloc[0].timeline['info']['frames'][k]['participantFrames'][str(i+1)]['totalGold'])
    lst.append(tmp)

In [197]:
columns = ['match_id','participantsId','g5','g6','g7','g8','g9','g10','g11','g12','g13','g14','g15']

In [198]:
df3 = pd.DataFrame(lst,columns=columns)

In [199]:
df3

,match_id,participantsId,g5,g6,g7,g8,g9,g10,g11,g12,g13,g14,g15
0,KR_6403658447,1,1403,1573,2205,2404,2625,2943,3143,3501,3796,4300,4623
1,KR_6403658447,2,1363,1490,1717,2590,2897,3154,3426,3677,4195,4352,5034
2,KR_6403658447,3,1519,1807,2054,2402,2702,3008,3223,3534,4147,4488,4919
3,KR_6403658447,4,1727,2217,2673,3008,3764,4359,4671,5254,7595,7802,8613
4,KR_6403658447,5,1476,1775,2163,2636,2916,3293,4102,4563,5355,5530,5798
5,KR_6403658447,6,1616,2028,2306,2933,3256,3612,4068,4754,5897,6103,6677
6,KR_6403658447,7,1967,2314,2866,3134,3651,4304,4900,6165,6352,6979,7132
7,KR_6403658447,8,2002,2243,2484,3117,3506,3838,4308,5349,5584,6043,6406
8,KR_6403658447,9,1864,2137,2710,3397,3802,4423,5031,5467,5639,6151,6607
9,KR_6403658447,10,1716,1938,2386,2744,3179,3460,3819,4106,4296,4557,4743